<div class="formBar">
  <form action="/file/create"  method="POST" enctype="multipart/form-data">
    <label for="fileInput">New File</label>
    <input type="file" name="fileInput" required/>
    <button>Submit</button>
  </form>
  <form action="">
    <label for="folderCreate">New Folder</label>
    <input type="text" name="folderCreate" />
    <button>Submit</button>
  </form>
</div>
