<header>
  <nav>
    <a href="/" class="headerLogo">
      <img src="/imgs/cloud.svg" alt="">
      <h1>CloudFiles</h1></a>
      <a href="/" class="styledLink ">Home</a>
    <div>
      <% if (locals.currentUser) { %>
      <p><%= currentUser.email %></p>
      <a href="/logout" class="styledLink">Log Out</a>
      <% } else { %>
      <a href="/signup" class="styledLink">Sign Up</a>
      <a href="/login" class="styledLink">Log In</a>
      <% } %>

      <a href="/about"><img src="/imgs/about.svg" alt=""></a>
    </div>
  </nav>
</header>
