<header>
  <nav>
    <a href="/" class="headerLogo">
      <img src="/imgs/cloud.svg" alt="">
      <h1>CloudFiles</h1></a>
    <div>
      <% if (locals.currentUser) { %>
      <p><%= currentUser.email %></p>
      <a href="/logout" class="styledLink">Logout</a>
      <% } else { %>
      <a href="/signup" class="styledLink">Sign up</a>
      <a href="/login" class="styledLink">Login</a>
      <% } %>

      <a href="/about"><img src="/imgs/about.svg" alt=""></a>
    </div>
  </nav>
</header>
