<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="userForm aboutBlock">
        <h1>About</h1>
        <ul>
          <li>
            This app is a demonstration file storage service, modeled after
            Google Drive. Authenticated users may upload and download files, as
            well as create folders to categorize their files. Users may only see
            their own uploaded files.
          </li>
          <li>
            <p>
              View the README file in the GitHub repo for guest login
              credentials, user instructions and more information.
            </p>
          </li>
          <li>
            The app is built using Node.js, Express, and Prisma ORM. User
            authentication uses Passport.js, the database is hosted on Neon, and
            cloud storage is hosted by Cloudinary.
          </li>
          <li>
            <p>
              Please note: This app is for demonstration purposes only, and
              should not be depended on to securely store and access important
              files.
              <strong
                >Please do not upload anything confidential or private.</strong
              >
            </p>
          </li>
        </ul>

        <a
          href="https://github.com/JakeBrowning90/file-uploader"
          target="_blank"
          class="styledLink mainLink"
          >GitHub repo</a
        >
        <a
          href="https://jakebrowning90.github.io/personal-portfolio/"
          target="_blank"
          class="styledLink mainLink"
          >My Portfolio</a
        >
      </div>
    </main>
  </body>
</html>
