<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="userForm">
        <h1>About</h1>
        <ul>
          <li>
            Description
          </li>
          <li>
            Tech Stack
          </li>
          <li>
            Disclaimer
          </li>
        </ul>
        <a href="">Portfolio</a>
        <a href="">Github</a>
      </div>
    </main>
  </body>
</html>
