<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>Login</h1>
      <form action="">
        <label for="">Email:</label>
        <input type="email" name="" id="" />
        <label for="">Password:</label>
        <input type="password" name="" id="" />
      </form>
    </main>
  </body>
</html>
