<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <form action="" method="post" class="userForm">
        <h1>Signup</h1>
        <%- include('partials/errors')%>

        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          minlength="1"
          maxlength="50"
          placeholder="Max. 50 characters"
          value="<%= (locals.fields) ? fields.email : '' %>"
        />
        <label for="password">Password:</label>
        <input
          type="password"
          name="password"
          id="password"
          minlength="1"
          maxlength="20"
          placeholder="Max. 20 characters"
        />
        <label for="confirmPassword">Re-enter password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" />
        <button>Submit</button>
      </form>
    </main>
  </body>
</html>
