:root {
  --color-1: rgb(255, 255, 255);
  --color-2: rgb(222, 236, 240);
  --color-text: rgb(70, 70, 70);
  --color-hover: rgb(179, 179, 179);
}

* {
  color: var(--color-text);
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
button {
  margin-right: auto;
}

hr {
  width: 100%;
  margin: 0;
}

header,
.headerLogo,
nav,
nav > div,
main,
.newFileFormHeader,
.newFolderFormHeader,
.detailTitle,
.detailFolderList {
  display: flex;
  flex-direction: row;
}

header,
.userForm,
.mainDiv {
  padding: 10px;
}

html,
body,
.userForm,
.aboutBlock > ul,
.formBar,
.formBar > form,
.newFileFormBody,
.newFolderFormBody,
.mainDiv,
.detailHeader,
.detailBody,
.detailBody > form,
.fileUL {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

header {
  background-color: var(--color-2);
  height: 60px;
}

.headerLogo {
  align-items: center;
}

nav {
  gap: 5px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

nav > div {
  gap: 10px;
  align-items: center;
}

main {
  background-color: var(--color-2);
  height: 100%;
}

strong {
  font-weight: bold;
}

.userForm {
  background-color: var(--color-1);
  border-radius: 20px;
  margin: 0 auto auto auto;
  gap: 5px;
  min-width: 400px;
}

.aboutBlock {
  max-width: 700px;
}

.aboutBlock > ul {
  gap: 10px;
}

.errorUL > * {
  color: rgb(152, 0, 0);
  font-weight: bold;
}

.formBar {
  min-width: 250px;
  background-color: var(--color-2);
  padding: 0 10px;
  gap: 10px;
}

.formBar > * {
  background-color: var(--color-1);
  border-radius: 20px;
  padding: 10px;
}

.newFileFormHeader,
.newFolderFormHeader,
.detailTitle {
  justify-content: space-between;
  align-items: center;
}

.newFileFormBody,
.newFolderFormBody,
.detailBody {
  gap: 5px;
  display: none;
}

.showForm {
  display: flex;
}

.mainDiv {
  background-color: var(--color-1);
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin-right: 10px;
  gap: 10px;
}

.folderUL {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.folderLI {
  background-color: var(--color-2);
  padding: 10px;
  border-radius: 20px;
  width: min-content;
  min-width: 80px;
}

.detailFolderList {
  flex-wrap: wrap;
  gap: 5px;
}

.fileUL {
}

.fileLI {
  border-top: 1px solid var(--color-text);
}

.fileLI > a {
  margin: 10px;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.fileLI:hover {
  background-color: var(--color-2);
}

.styledLink {
  background-color: var(--color-1);
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 0 auto 0 0;
}

.mainLink {
  border: 1px solid var(--color-text);
}

.folderLI:hover,
.styledLink:hover {
  background-color: var(--color-hover);
}

.detailHeader,
.detailHeader > form,
.detailBody > form {
  gap: 5px;
}

.deleteBtn {
  background-color: rgb(255, 200, 200);
}
